@font-face {
    font-family: "JustMe";
    src: url(JustMeAgainDownHere-Regular.ttf);
}

body {
    margin: 0;
    font-family: "JustMe";
}


a {
    text-decoration: none;
}



/*header*/


header {
    background-image: linear-gradient(to right, blue, white);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    border-radius: 25px;
    width: 138px;
    height: auto;
}

h1 {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 50px;
}

.nav-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav a {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}

.btn {
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(131, 131, 207);
    padding: 10px;
    margin: 10px;
}

.stars {
    color: gold;
}

.nav-bar label,
.toggle {
    display: none;
}

@media (max-width: 431px) {


    .date-de-reservation {
        width: auto;
    }

    .nav-bar {
        height: 60px;
        margin: 0 10px;
    }

    .nav {
        display: none;
        flex-direction: column;
        background-color: rgba(24, 23, 23, 0.199);
        position: absolute;
        z-index: 2;
        width: 40%;

    }

    .nav a {
        width: 100%;
        padding: 10px 0px 10px 0;
    }


    .nav-bar label {
        display: flex;
        margin: 5px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        background: rgba(0, 0, 255, 0.605);
        height: auto;
        width: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }


    .nav-bar .toggle:checked+.nav {
        display: flex;
        padding: 0.5rem;
        margin-right: 57px;
    }

    .logo img {
        width: 100px;
    }

    h1 {
        font-size: 32px;
    }

}

/* main */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #D9D9D9;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 40em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.Trait {
    width: 44em;
    height: 2px;
    background-color: black;
    margin-top: 2em;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #000000;
}

.search__input:focus+.search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #D9D9D9;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #000000;
}

.image__main {
    display: flex;
    justify-content: center;
}

.image__main img {
    width: 70%;
    height: 300px;
}

.bloc-chambre {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.best-suite {
    width: 22%;
    background: #D9D9D9;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suite {
    background-color: white;
    border-radius: 25px;
    margin: 0px 10px 15px 10px;
}

.img-suite {
    margin: 5px;
    border-radius: 25px;
}

.tritre-suite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 0;
}

hr.Trait-suite {
    background: black;
    height: 2px;
    width: 121px;
    margin-top: 0;
}

h3 {
    display: flex;
    justify-content: center;
}

.parag {
    display: flex;
    justify-content: space-evenly;
}

.star {
    display: flex;
    align-items: center;
    margin: -9px 0 10px 30px;
}

i.fas.fa-star {
    color: gold;
    font-size: 13px;
    padding: 3px;
}

.Chambres {
    background-color: white;
    border-radius: 25px;
    width: 92%;
    height: 15%;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.Nos-chambres {
    width: 75%;
    border-radius: 25px;
    background-color: #D9D9D9;
    margin: 0 0 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Nos-chambres img {
    border-radius: 25px;
    margin: 7px;
}

.info-chambre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 500px;
}

.Trait-chambre {
    width: 11em;
    height: 2px;
    background-color: black;
    margin-top: 1px;
}

.tirre-chambre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 10px;
}

h5 {
    font-size: 25px;
    margin: 0;
}

.star-2 {
    display: flex;
    align-items: center;
}

@media (max-width:431px) {
    input.search__input {
        width: 19em;
    }

    .Trait {
        width: 23em;
        height: 1px;
        margin-top: 1em;
    }

    .image__main img {
        width: 86%;
        height: 141px;
    }

    .bloc-chambre {
        flex-direction: column;
        align-items: center;
    }

    .best-suite {
        width: 99%;
        border-radius: 10px;
    }

    .Nos-chambres {
        width: 99%;
        margin: 10px 0;
    }

    .Chambres {
        display: flex;
        flex-direction: column;
    }

    .info-chambre .parag {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .info-chambre {
        width: 100%;
    }

    .star-2 {
        display: flex;
        align-items: center;
        margin: 0 0 0 46px;
    }

    h5 {
        margin: 0 0 0 53px;
    }
}

/*footer*/


.Footer {
    display: flex;
    flex-direction: row;
}

.reglement {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h6 {
    margin: 0;
    font-size: 26px;
}

.Trait-paiement {
    width: 11vw;
    margin: 0px 0 2px 0;
    height: 2px;
    background-color: black;
}

.paiement {
    display: flex;
    background-color: #D9D9D9;
    width: 786px;
    height: 195px;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 68px;
    height: 68px;
    padding: 25px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
}

.info-social a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-social a p {
    color: #000000;
    margin-left: 11px;
}

.social img {
    width: 2vw;
    height: 2vw;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.enbas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.enbas p {
    font-size: 15px;
}

.enbas a {
    color: black;
}

.Nos-hotel {
    width: 560px;
    padding: 22px;
}

h7 {
    font-size: 23px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#map {
    width: 545px;
    height: 342px;
    position: relative;
}

.text-hotel img {
    width: 30px;
    height: auto;
}

.contact-mobile {
    display: none;
}

@media (max-width: 431px) {
    .Footer {
        flex-direction: column;
        align-items: center;
    }

    .paiement {
        width: 346px;
        height: auto;
    }

    h6 {
        font-size: 18px;
    }

    .Trait-paiement {
        width: 24vw;
        height: 1px;
    }

    .card img {
        width: 38px;
        height: 39px;
        padding: 13px;
    }

    .reglement {
        width: 84vw;
    }

    .Nos-hotel {
        width: auto;
        height: auto;
        padding: 0;
    }

    div#map {
        width: 400px;
        height: 290px;
        margin-bottom: 35px;
    }

    footer {
        height: 599px;
    }
}