body {
    margin: 0;
    font-family: 'Just Me Again Down Her';
}

/*header*/


header {
    background-image: linear-gradient(to right, blue, white);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    border-radius: 25px;
    width: 138px;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.nav-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav a {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}

.btn {
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(131, 131, 207);
    padding: 10px;
    margin: 10px;
}

.stars {
    color: gold;
}

/* main */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #D9D9D9;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 40em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.Trait {
    width: 44em;
    height: 2px;
    background-color: black;
    margin-top: 2em;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #000000;
}

.search__input:focus+.search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #D9D9D9;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #000000;
}

.image__main {
    display: flex;
    justify-content: center;
}

.image__main img {
    width: 70%;
    height: 300px;
}

.bloc-chambre {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.best-suite {
    width: 21%;
    background: #D9D9D9;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suite {
    background-color: white;
    border-radius: 25px;
}

.img-suite {
    margin: 5px;
    border-radius: 25px;
}

h3 {
    display: flex;
    justify-content: center;
}

.parag {
    display: flex;
    justify-content: space-evenly;
}

.star {
    display: flex;
    align-items: center;   
    margin: -9px 0 10px 30px; 
}

i.fas.fa-star {
    color: gold;
    font-size: 13px;
    padding: 3px;
}

/*footer*/

footer {
    top: -5px;
    /* Ajustez cette valeur pour déplacer l'ombre */
    left: -1px;
    right: -1px;
    height: 10px;
    /* Ajustez cette valeur pour contrôler la hauteur de l'ombre */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.Footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
}

.reglement {
    width: 64vw;
}

h5 {
    margin: 0;
}

.Trait-paiement {
    width: 17vw;
    margin: 10px 0;
    height: 2px;
    background-color: black;
}

.paiement {
    display: flex;
    font-size: 35px;
    background-color: #D9D9D9;
    width: 786px;
    height: 195px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

h6 {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
    text-align: center;
}

.social img {
    width: 2vw;
    height: 2vw;
}

.contact {
    display: flex;
    flex-direction: row;
    font-size: 28px;
}

.enbas {
    margin-left: 20%;

}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card img {
    width: 68px;
    height: 68px;
    padding: 25px;
}

div#map {
    width: 363px;
    height: 308px;
    position: relative;
}